
<!-- site wide footer -->

<footer>
    <div class="container">
        <p>X157 &copy; 2023</p>

        <p>
            Github:
            <a href="https://github.com/x157/x157.github.io">source</a>
            |
            <a href="https://github.com/x157/x157.github.io/issues">issues</a>
        </p>

        <p>
            Twitter: <a href="https://twitter.com/_x157_">@_x157_</a>
            |
            UE Forum: <a href="https://forums.unrealengine.com/u/xi57">xi57</a>
            |
            YouTube: <a href="https://www.youtube.com/c/XistGG">XistGG</a>
        </p>
    </div>
</footer>
