<!-- site wide footer -->

<footer>
    <div class="container">
        <p>X157 &copy; 2025</p>

        <p>
            Github:
            <a href="https://github.com/x157/x157.github.io" id="SourceUrl">source</a>
            |
            <a href="https://github.com/x157/x157.github.io/issues">issues</a>
            ||
            <a href="{{ '/privacy' | relative_url }}">Privacy Policy</a>
        </p>

        <p>
            Twitter: <a href="https://twitter.com/_x157_">@_x157_</a>
            |
            UE Forum: <a href="https://forums.unrealengine.com/u/xi57">xi57</a>
            |
            YouTube: <a href="https://www.youtube.com/c/XistGG">XistGG</a>
        </p>
    </div>
</footer>

<script>
    // Update the SourceUrl to be the exact url for the page currently being viewed.
    (function (link, path) {
        if (link) {
            // path is like "/foo/" for index.md
            if (path.charAt(path.length - 1) === "/") {
                path += "index"
            }
            // links aren't **supposed** to end in ".md" but they might.
            if (path.substring(path.length - 3) !== ".md") {
                path += ".md"
            }
            // "plain=1" parameter tells GitHub we want to see the source, not the preview
            link.href = "https://github.com/x157/x157.github.io/blob/main" + path + "?plain=1";
        }
    })(document.getElementById("SourceUrl"), window.location.pathname);
</script>

<script src="{{ '/assets/script/prism-1.29.0.js' | relative_url }}"></script>