<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup theme-color -->
{% include head-custom-theme-colors.html %}

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/assets/images/favicon-192.png' | absolute_url }}">
<link rel="icon" type="image/png" sizes="180x180" href="{{ '/assets/images/favicon-180.png' | absolute_url }}">
<link rel="icon" type="image/png" sizes="128x128" href="{{ '/assets/images/favicon-128.png' | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/images/favicon-32.png' | absolute_url }}">

<!-- end custom head snippets -->
