---
---

.highlight {
  color: #cccccc
}

.highlight table td {
  padding: 5px
}

.highlight table pre {
  margin: 0
}

.highlight .w {
  color: #cccccc
}

.highlight .err {
  color: #151515;
  background-color: #ac4142
}

.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #008800
}

.highlight .cp, .highlight .nl {
  color: #3388bb
}

.highlight .cpf, .o, .highlight .ow {
  color: #cccccc
}

.highlight .p, .highlight .pi {
  color: #cccccc
}

.highlight .gi {
  color: #99dd99
}

.highlight .gd {
  color: #ac4142
}

.highlight .gh {
  color: #6a9fb5;
  font-weight: bold
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #3388bb
}

.highlight .kc, .highlight .kt, .highlight .kd {
  color: #3388bb
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #99dd99
}

.highlight .sr {
  color: #75b5aa
}

.highlight .si, .highlight .se {
  color: #8f5536
}

.highlight .n {
  color: #cccccc
}

.highlight .nt, .highlight .nn, .highlight .nc, .highlight .no {
  color: #3388bb
}

.highlight .na {
  color: #6a9fb5
}

.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #a95992
}

.highlight .ss {
  color: #a95992
}

body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #cccccc;
  font-size: 14px;
  line-height: 1.2;
  font-family: Verdana, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto
}

section {
  display: block;
  margin: 0 0 20px 0
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px
}

li {
  line-height: 1.6em
}

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #00cc00;
  padding: 20px 0 0 0;
  margin: 0
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Verdana, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #00cc00;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased
}

@media (max-width:1000px) {
  header h1 {
    margin-left: 0
  }

}

header h1:before {
  content: "./ ";
  font-size: 24px
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
  margin: 0 0 10px 0
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0
}

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased
}

section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Verdana, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #00cc00;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(181, 232, 83, 0.1), 0 0 10px rgba(181, 232, 83, 0.1)
}

#main_content h1 {
  font-size: 30px
}

#main_content h2 {
  font-size: 26px
}

#main_content h3 {
  font-size: 22px
}

#main_content h4 {
  font-size: 20px
}

#main_content h5 {
  font-size: 18px;
  text-transform: none;
  margin: 0 0 5px 0
}

#main_content h6 {
  font-size: 16px;
  text-transform: none;
  margin: 0 0 5px 0
}

dt {
  font-style: italic;
  font-weight: bold
}

ul li {
  list-style-image: url("../images/bullet.png")
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666
}

pre {
  background: rgba(40, 40, 40, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.3em;
  font-size: 1.05em;
  tab-size: 4;
  border-radius: 2px;
  word-wrap: normal;
  overflow: auto;
  overflow-y: hidden
}

h1 code, h1 code.highlighter-rouge,
h2 code, h2 code.highlighter-rouge,
h3 code, h3 code.highlighter-rouge,
h4 code, h4 code.highlighter-rouge,
h5 code, h5 code.highlighter-rouge {
  color: #00cc00;
  background: rgba(40, 40, 40, 0.8);
}

h6 {
  color: #cccccc;
  font-weight: bolder;
}

h6 code, h6 code.highlighter-rouge {
  background: rgba(60, 60, 60, 0.6);
  font-weight: bolder;
}

code.highlighter-rouge {
  color: #c0f0c0;
  background: rgba(60, 60, 60, 0.6);
}

code {
  padding: .1em;
  margin: 0;
  font-size: 1em;
}

a code {
  padding: 0;
  margin: 0;
}

table {
  width: auto;
  margin: 0 0 20px 0
}

th {
  text-align: left;
  border-bottom: 1px dashed #00cc00;
  padding: 5px 10px
}

td {
  padding: 2px 4px
}

td img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #00cc00;
  color: #00cc00
}

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-top-color: #000;
  color: rgba(255, 255, 255, 0.8);
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05)
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8))
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #cccc00;
}

a {
  color: #ddaadd;
  text-decoration: underline;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

a code, a code.highlighter-rouge {
  color: #ddaadd;
}

a code:hover, a code.highlighter-rouge:hover {
  color: #cccc00;
}

.cf:before, .cf:after {
  content: "";
  display: table
}

.cf:after {
  clear: both
}

.cf {
  zoom: 1
}

#a-title {
  text-decoration: none
}


.container.back_links {
  margin: 20px auto 20px auto
}

.back_links_title {
  font-weight: bold
}


footer {
  width: 100%;
  border-top: 1px dashed #00cc00;
  padding: 20px 0;
  margin: 40px 0 0 0;
  display: block;
  text-align: center
}

tip {
  font-style: italic;
  display: inline-block;
}

tip:before {
  content: "Tip: ";
  color: #00cc00;
  font-weight: bold
}

todo {
  background-color: #444400;
  font-style: italic;
  display: inline;
  padding: 0.25em;
}

todo:before {
  content: "TODO: ";
  background-color: #444400;
  font-style: italic;
  font-weight: bold
}

todo-p {
  background-color: #444400;
  font-style: italic;
  display: block;
  padding: 0.5em;
  margin: 0.5em;
}

todo-p:before {
  content: "TODO: ";
  background-color: #444400;
  font-style: italic;
  font-weight: bold
}


problem {
  display: inline-block;
  background-color: #800000
}
