---
---

@import "{{ site.theme }}";

header {
  padding: 20px 0 0 0;
  margin: 0;
}

header h2 {
  margin: 0 0 10px 0;
}

.container.back_links {
  margin: 20px auto 20px auto;
}

.back_links_title {
  font-weight: bold;
}

code.highlighter-rouge {
  color: #a8dda8;
}

table {
  width: auto;
}

footer {
  width: 100%;
  border-top: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 40px 0 0 0;
  display: block;
  text-align: center;
}

todo {
  background-color: #202000;
  font-style: italic;
}

problem {
  background-color: #800000;
}
