---
---

@import "{{ site.theme }}";

header {
  padding: 20px 0 0 0;
  margin: 0;
}

.container.back_links {
  margin: 0 auto 20px auto;
}

.back_links_title {
  font-weight: bold;
}

footer {
  background: rgba(0,0,0,0.1);
  width: 100%;
  border-top: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 40px 0 0 0;
  display: block;
  text-align: center;
}
